
  /* Tamaño del scroll */
  .container::-webkit-scrollbar {
    width: 8px ;
    height: 8px;
  }
  
   /* Estilos barra (thumb) de scroll */
  .ccontainer-fluid::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  .container-fluid::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  .container-fluid::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  .container-fluid::-webkit-scrollbar-track:hover, 
  .container-fluid::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
  