.titulo-navbar1 {
    height: 90px;
    background-image: url(..//img/sales.png);
    background-size: 150px;
}

.titulo-info {
    height: 5px;
    background-color: #00bf6693;
}

.text-titulo {
    display: none;
    color: rgb(0, 0, 0);
}

.titulo-informacion {
    display: flex;
    align-items: center;
}